<div class="background-image-cocktail">
  <div class="col-12 col-lg-6 container d-flex justify-content-center">
    <div class="card card-show">
      <h1 class="text-center "><%= @cocktail.name %></h1>
      <h3 class="card-title"> </h3>
      <ul class="card-text">
        <% @doses.each do |dose| %>
        <li> <%= dose.ingredient.name %> : <%= dose.description %> <%= link_to "Delete", dose_path(dose),
          method: :delete,
        data: { confirm: "Are you sure to delete this dose ?" } %> </li>
        <% end %>
      </ul>
    </div>
    <br>
  </div>
  <div class="param-cocktail"></div>
  <%= link_to "â¬… Back to list", cocktails_path %> <br>
  <%= link_to "ðŸ¹ Add a Dose", new_cocktail_dose_path(@cocktail) %>
</div>
